[submodule "dependencies/mwcfg-modules"]
	path = dependencies/mwcfg-modules
	url = https://github.com/c3rb3ru5d3d53c/mwcfg-modules.git
[submodule "CAPEv2"]
	path = configextractor/libraries/CAPEv2
	url = https://github.com/kevoreilly/CAPEv2.git
