[submodule "dependencies/mwcfg-modules"]
	path = dependencies/mwcfg-modules
	url = https://github.com/c3rb3ru5d3d53c/mwcfg-modules.git
[submodule "external_parsers/CAPEv2"]
	path = external_parsers/CAPEv2
	url = https://github.com/kevoreilly/CAPEv2.git
[submodule "external_parsers/RATDecoders"]
	path = external_parsers/RATDecoders
	url = https://github.com/kevthehermit/RATDecoders.git
[submodule "external_parsers/mwcfg-modules"]
	path = external_parsers/mwcfg-modules
	url = https://github.com/c3rb3ru5d3d53c/mwcfg-modules.git
[submodule "external_parsers/DC3-MWCP"]
	path = external_parsers/DC3-MWCP
	url = https://github.com/Defense-Cyber-Crime-Center/DC3-MWCP.git
